%h4
  Categories
- unless Village::Article.categories.nil?
  %ul
    - Village::Article.categories.each do |category|
      %li= link_to "#{category[0]} (#{category[1]})", village_articles_path(:category => category[0])

%h4
  Tags
- unless Village::Article.tags.nil?
  %ul
    - Village::Article.tags.each do |tag|
      %li= link_to "#{tag[0]} (#{tag[1]})", village_articles_path(:tag => tag[0])