!!! 5
%html
  %head
    %title= Village::Config.title
    = stylesheet_link_tag 'village'
    = render 'articles/analytics'
    = yield :head
  %body
    %header#header
      %h1= link_to Village::Config.title, '/'
      %p
        = Village::Config.subtitle
    %section#content
      = yield
    %footer
      %small
        - if Village::Config.try(:author)
          A #{link_to 'village',  Village::Config.author[:url]} blog
          = "by #{Village::Config.author[:name]}"
        = "Copyright &copy; #{Date.today.year}".html_safe